cython
mmengine>=0.7.1,<1.0.0
mmdet==3.3.0
numpy<2
pandas
matplotlib
scikit-learn
scipy
pillow
tqdm
opencv-python
onnxruntime
insightface
jupyterlab
ipykernel
gdown
datasets
huggingface_hub>=0.19,<1.0
transformers==4.37.2
