.conda/
.git/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store

outputs/
data/
checkpoints/
work_dirs/
tmp/
external/
**/data/
**/checkpoints/
**/work_dirs/
**/tmp/
**/external/
*.pth
*.pt
*.onnx
*.tar
*.tar.*
*.tar.gz
*.zip
**/*.pth
**/*.pt
**/*.onnx
**/*.tar
**/*.tar.*
**/*.tar.gz
**/*.zip
