__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/

.conda/
.venv/
venv/

outputs/
!stage-3/reports/task9/assets/outputs/
!stage-3/reports/task9/assets/outputs/**
data/
checkpoints/
stage-2/external/
stage-2/reports/task5/logs/
stage-2/reports/task5/*.tar.gz
*.rec
*.idx
*.pth
*.pt
*.onnx
*.tar
*.tar.gz
*.zip
